:root {
  --primary-color: #fe7368;
  --secondary-color: #7a2f53;
  --grow: scale(1.05, 1.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 90%);
  top: 0;
  background-image: url("../images/fallpic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: aliceblue;
}

header a {
  text-decoration: none;
  color: aliceblue;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

section {
  padding: 80px;
}

/* about-me STYLES START */
.about-me {
  background-image: url('../images/fallpic.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 80%;
}

.about-me-text {
  width: 20%;
  color:var(--secondary-color);
  font-size: 18px;
}

.about-me-text h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 5px 5px 5px rgb(0 0 0 / 90%);
  display: table-caption;
  border-right-style: solid;
  border-right-width: thick;
  padding-right: 20px;
  position: relative;
  right: 30px;
}

.about-me-text p {
  display: inline-flex;
  width:250%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  background-color:rgba(240, 248, 255, 0.78);
}
/* about-me STYLES END */


/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--secondary-color);
}

.secondary-border {
  border-color: var(--primary-color);
}
/* SECTION TITLE STYLES END */

.works { 
  background: var(--primary-color);
  text-shadow: 3px 3px 3px rgb(0 0 0 / 90%);
}

.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 20px;
  flex: 1;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 25px;
  transition: 0.5s ease-in-out;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 90%);
  border-radius: 5px;
}

.project h6{
  padding-bottom: 10px;
}

.project img {
  width: 100%;
  filter:grayscale(1);
  border-radius: 5px;
}

.project:hover{
  transform:var(--grow);
}

.project:hover img{
  filter:grayscale(0);
  transition: 0.5s ease-in-out;
}

/* project STYLES END */

.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
  text-shadow: 5px 5px 5px rgb(0 0 0 / 90%);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 90%);
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

.resume{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.resume h3{
  padding-bottom: 15px;
}

.resume a{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.resume:hover a{
  transform: var(--grow);
}

.resume img {
  width: 50%;
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 10px;
  border-radius: 5px;
}

/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
/* END FOOTER STYLES */



/* UTILITIES */

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .about-me{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-me h2{
    border-bottom: 3px solid;
    border-right: 0px;
    color: var(--primary-color);
  }

  .about-me p{
    position: relative;
    top:10px;
  }

  .section-title {
    width: 80%;
  }
  
  .project {
    flex: 0 70%;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .project {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
}
